# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
flutter_*.png
generated_plugin_registrant.*
*.lock

hernburg/*
!hernburg/fusebox_app/
!hernburg/fusebox_app/**


# IDE
.idea/
*.iml
.vscode/
.vscode/*

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
*.xcworkspace
DerivedData/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/**/build/
android/**/captures/

# macOS
macos/Flutter/ephemeral/
macos/**/DerivedData/
macos/**/build/

# Web
web/.dart_tool/

# Other
*.log
*.tmp
*.swp

# Env
.env
